{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
        <div class="row">
            <div class="col-md-4 ">
                {{ wtf.quick_form(form, method="GET", novalidate=False) }}
            </div>
        </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        {% for col in columns %}
                            <th> {{ col }}</th>
                        {% endfor %}
                    </tr> 
                </thead>
                <tbody>
                    {% if columns.__len__() == 8 %}
                        {% for elem in query %}
                        <tr>
                            
                            <td>
                                {{ elem.id }}
                            </td>
                            <td>
                                {{ moment(elem.date).format('LL') }}
                            </td>
                            <td>
                                {{ elem.keyword }}
                            </td>
                            <td>
                                {{ elem.url }}
                            </td>
                            <td>
                                {{ elem.domain }}
                            </td>
                            <td>
                                {{ elem.timeload }}
                            </td>
                            <td>
                                {{ elem.code_response }}
                            </td>
                            <td>
                                {{ elem.size_page }}
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        {% for elem in query %}
                            <tr>
                                {% for col in elem %}
                                    <td>{{ col }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}

{% endblock %}